/*Main Content*/


    .main-content {
      flex: 1;
      overflow-y: auto;
      padding: 40px;
      background: #fff;
      height: 100%;
      margin-top: 80px;
    }

    .search-bar {
      margin: 10px 0;
      margin-top: -10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    .search-bar input {
      padding: 10px 14px;
      border: 1px solid #bbb;
      border-radius: 8px;
      font-size: 15px;
      max-width: 500px;
      flex: 1;
      background: #fff;
      color: #111;
    }

    /*End Main Content*/

    /*Payment Unique Style*/
    .submitted-payments .table-header,
    .submitted-payments .table-row {
      text-align: center;
    }

    .table-container {
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .table-row div,
    .table-header div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .table-header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      background-color: #1e293b;
      color: #fff;
      padding: 12px 0;
      text-align: center;
      font-weight: bold;
    }

    .table-body {
      display: flex;
      flex-direction: column;
    }

    .table-row {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding: 12px 0;
      border-bottom: 1px solid #ddd;
      align-items: center;
    }

    .table-input-row {
      background-color: #ffffff !important;
      border: none !important;
      box-shadow: none !important;
      margin-bottom: 20px !important;
    }
    
    .table-input-row div {
      justify-content: center !important;
      

    }

    .table-row select,
    .table-row input {
      width: 90%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: 'Sen', sans-serif;
    }

    .table-row:nth-child(even) {
      background-color: #f5f5f5;
    }

    @media (max-width: 768px) {

      .table-header,
      .table-row {
        grid-template-columns: repeat(5, 1fr);
      }

      .table-header div:nth-child(6),
      .table-row div:nth-child(6) {
        display: none;
      }
    }

    .action-buttons {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }
    /*End Table*/